body#islandjoy
  --accent #833c72

  .intro p
    color var(--accent)

  .swatchset
    .swatch
      flex-basis 25%

      &.purple span
        background #5e3755
      &.yellow span
        background #e3ac4c
      &.pink span
        background #e5b4a9
      &.green span
        background #b3ba63
      &.coral span
        background #ea9371
      &.seafoam span
        background #bcd1b1
      &.brightyellow span
        background #fedb39
      &.lilac span
        background #c8bccf
