include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Island Joy')

body#islandjoy
  +Header('Island Joy')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Island<br>Joy
        .caption &mdash; Branding, Packaging, Web Design
    
    section.copy
      p Packaging for 
        i Island Joy’s
        |  line of handcrafted sugar scrubs. Inspired by the essence of the Caribbean and our clients' Jamaican-Antiguan heritage, 
        i  Island Joy’s
        |  scrubs are made in small batches using natural &amp; organic ingredients, and infused with exotic scents of the tropics.
      

    section.flex.colour-grid
      .purple
        ul
          li Purple
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .lilac
        ul
          li Lilac
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .coral
        ul
          li Coral
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .pink
        ul
          li Pink
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .green
        ul
          li Chartreuse
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .seafoam
        ul
          li Seafoam
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .orange
        ul
          li Tangerine
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .yellow
        ul
          li Buttercup
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
    
    section
      img(src="/images/islandjoy-4.png" width="100%")
          
    section.copy
      h2 Colour
      p The colour palette takes inspiration from the tropical scents of the Carribean that inspired the sugar scrubs, such as 
        i honey, grapefruit
        |  and 
        i lime.
        
    img(src="/images/islandjoy-1.png" width="100%")
    
    section.copy
      h2 Typography
      p tbd
      hr
      .font-grid
        .flex-100
          img(src="/images/IJ_btq-lt.svg")
          .caption Boutique Light
        
        .flex
          .flex-50
            img(src="/images/IJ_harriet.svg")
            .caption Harriet
          .flex-50
            img(src="/images/IJ_gt-pressura.svg")
            .caption GT Pressura

    section.image-box
      img(src="/images/islandjoy-6b.png")
    
    .flex.center
      .flex-75
        img(src="/images/islandjoy-lids.png" width="100%")


    img(src="/images/islandjoy-2.png" width="100%")

    section.image-thirds.flex
      .islandjoy-1
      .islandjoy-2
      .islandjoy-3
      
    hr.spacer
        
    .flex.center
      .flex-75
        img(src="/images/islandjoy-9.png" width="100%")
        .caption a. Island Joy Sugar Scrubs

    .image-small.flex
      .flex-50
      .flex-50
        img(src="/images/islandjoy-7b.png" width="50%")
        .caption b. Island Joy Lip Scrub packaging
        
    .copy
      h2 Website
      p tbd
    
    hr.spacer
    
    img(src="/images/islandjoy-web.gif" width="100%")
    
    //- hr.spacer
    //- 
    //- .flex.center
    //-   .image.flex-75.border
    //-     img(src="/images/islandjoy-web.png" width="100%")
        
    section.copy
      .credits.flex
        ul.flex-50
          li Client: 
          li Island Joy
        ul.flex-50
          li Creative Direction: 
          li Aprile Elcich
        ul.flex-50
          li Graphic Design:
          li
            a(href="https://petrac.ca") Petra Cuschieri
        ul.flex-50
          li Web Design &amp; Dev: 
          li Aprile Elcich
        ul.flex-50
          li Photography:
          li Lunch Money Studios

    section.page-footer
      .wrapper
        a(href="/dataterranemo").prev-project.dtn
          .bullet
          p Data Terra<br>Nemo
        a(href="/vintagetype").next-project.vintagetype
          .bullet
          p Vintage<br>Type
          
  +Footer('Data Terra Nemo', '/dataterranemo', 'Vintage Type', '/vintagetype')
