body#islandjoy
  --accent #833c72

  .intro
    background-color #C5BACC
    &.left
      background-image url('/images/islandjoy-10.png')

  .font-grid
    .flex-100
      padding-bottom 50px
      @media $mobile
        padding 0

    .flex-50
      &:first-of-type
        padding-right 30px
        @media $mobile
          padding 0
      &:last-of-type
        padding-left 30px
        @media $mobile
          padding 0

  section.image-thirds
    > *
      height 33.3333vw
      flex-basis 33.3333%
      background-size cover
      background-position center
      @media $mobile
        height 100vw
        flex-basis 100%
      &.islandjoy-1
        background-image url('/images/islandjoy-3.png')
      &.islandjoy-2
        background-image url('/images/islandjoy-5.png')
      &.islandjoy-3
        background-image url('/images/islandjoy-8.png')

  section.image-box
    padding 100px 50px
    background-color #FDDA4B
    img
      width 80%
      margin 0 auto
      display block

  .colour-grid > *
    height 30vw
    font 14px var(--mono)
    letter-spacing 1px
    padding 50px
    flex-basis 50%
    @media $mobile
      height 40vw
      font 11px var(--mono)
      padding 20px
    @media $tablet
      flex-basis 33.333%
    @media $desktop
      height 20vw
      padding 30px
      flex-basis 25%

    &.purple
      color white
      background-color #5E3855
    &.lilac
      background-color #C8BDCF
    &.coral
      background-color #E89375
    &.pink
      background-color #E4B4AA
    &.green
      background-color #B0B668
    &.seafoam
      background-color #BDD1B2
    &.orange
      background-color #E2AB55
    &.yellow
      background-color #FDDA4B
