body#maisonapothecare
  .intro
    &.left
      background-image url('/images/ma-1.png')

    &.right
      background-color #aa6488
      h1
        font-size 80px !important

  .colour-grid > *
    flex-basis 33.3333%
    height 25vw
    padding 50px
    font-family 'Overpass Mono', monospace
    letter-spacing 1px
    font-size 14px
  .orange
    background-color #f69a56
  .red
    background-color #e9664e
  .purple
    background-color #6a7ebb
  .yellow
    background-color #dac95b
  .blue
    background-color #1bacb9
  .green
    background-color #459b40
