include ../../mixins/head
include ../../mixins/header

head
  +Head('Maison Apothecare')
  
  meta(property="og:title", content="Maison Apothecare")
  meta(property="og:url", content="https://aprileelcich.com/maisonapothecare")
  meta(property="og:image", content="https://aprileelcich.com/images/maisonapothecare-8.png")
  meta(name="twitter:image", content="https://aprileelcich.com/images/maisonapothecare-8.png")

body#maisonapothecare
  +Header('Maison Apothecare')
  
  main
    .intro-wrapper
      .intro.left
      .intro.right
        h1 Maison<br>Apothecare
        .caption &mdash; Branding, Packaging, Art Direction
    
    section.copy
      blockquote 
        i Maison Apothecare
        |  is a growing maker of exquisite, small batch products made using
        |  100% pure plant derived extracts.
      hr
      p Working with
        i  Maison Apothecare
        | , I designed the brand and packaging which helped to strongly establish
        |  their place in the local beauty care market in Canada.
      p Growing from a small wholesale business, 
        i  Maison Apothecare
        |  (originally
        i  Modern Apothecary
        | ) now sells to department and grocery stores, and has opened three
        |  brick-and-mortar shops and an affiliate shop in the UK.
      
    img(src="/images/ma-1.png")

    section.copy
      h1 Branding
      h2 Logo
      p Originally called 
        i  Modern Apothecary
        | , the name called for a logo that blended modernness with
        |  the feeling of an antique apothecary. The mix of antique
        |  calligraphic lines with a modern font clearly articulates
        |  the intended brand image.

      img(src="/images/maisonapothecare-1.png")
      h2 Shape
      p The 
        i  Maison Apothecare
        |  label shape was designed to reflect and complement the shape and
        |  antique quality of the logo design. The recognizable and unique
        |  label shape is used across the signature product line.
      
      img(src="/images/maisonapothecare-4.png")
      hr.spacer
      h2 Colour
      p The bright modern colour palette was designed to reflect the 
        |  upbeat, family-oriented nature of the brand, while also
        |  representing the product scents in a familiar way.

    section.flex.colour-grid
      .applecider
        ul
          li Apple Cider
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #AA6488
      .pinkgrapefruit
        ul
          li Pink Grapefruit
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #FD828B
      .citrus
        ul
          li Citrus Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #FDA328
      .pumpkin
        ul
          li Pumpkin Spice
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #E0843C
      .charcoal
        ul
          li Charcoal Sage
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #707C7C
      .lavender
        ul
          li Lavender
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #A1AfE3
      .eucalyptus
        ul
          li Pink Grapefruit
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #1FC4B3
      .lemonverbena
        ul
          li Lemon Verbena
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #97D429
      .mint
        ul
          li Citrus Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #1CBB72
      .spruce
        ul
          li Spruce Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #0D7166
    
    section.copy
      h2 Brand Guide
      p Guidelines for keeping brand consistency within all the various
        |  product categories.
    
    .flex.center
      .flex-75
        .flex.padding.border
          .flex-50
            img(src="/images/MA_branding-3.jpg")
          .flex-50
            img(src="/images/MA_branding-4.jpg")
        hr.spacer
        .flex.padding.border
          .flex-50
            img(src="/images/MA_branding-2.jpg")
          .flex-50
            img(src="/images/MA_branding-1.jpg")
    
    hr.spacer
    img(src="/images/ma-4.png")
    
    section.copy
      h1 Packaging
      p The original 
        i  Maison Apothecare
        |  packaging was designed to be a modern classic, 
        |  drawing from the vintage apothecary inspiration. The dark brown
        |  bottles with the delicate shape label established 
        i  Maison Apothecare
        |  as a familiar and well-loved local brand.
      p The packaging evolved over time to include more types of products
        |  while still living under the umbrella of the established
        i  Maison Apothecare
        |  brand, modern and elegant while still giving a nod to
        |  the original apothecary influence.
    
    .flex.center.padding
      .flex-75
        img(src="/images/maisonapothecare-3.png")
        hr
        img(src="/images/ma-6.png")
        hr
        img(src="/images/ma-7.png")    
        hr
        .flex.center
          .flex-75
            img(src="/images/maisonapothecare-10.png")
        hr
        img(src="/images/ma-8.png")
        hr
        img(src="/images/maisonapothecare-6.png")
        img(src="/images/maisonapothecare-11.png")
    
    hr

    section.copy
      h1 Shop Signage
      p When 
        i  Maison Apothecare
        |  opened its first shop in Niagara-on-the-Lake, and then in Toronto, 
        |  the design of the storefront and interior signage was needed
        |  to accurately reflect the feeling of the brand, the crossover between
        |  modern and classic.

    .flex.center.padding
      .flex-75
        img(src="/images/maison.png")
    
    .flex.center
      .flex-75
        .flex.padding
          .flex-50
            img(src="/images/maison-store.jpg")
            .caption a. Niagara-on-the-Lake shop, photo: 
              a(href="https://handluggageonly.co.uk/2018/05/26/this-is-definitely-an-amazing-way-to-experience-niagara-falls/") Hand Luggage Only
          .flex-50
            img(src="/images/maisonapothecare-9.png")
            .caption b. Products in store
    
    hr
    section.copy
      h1 Business Cards
      p The black business cards with silver foil are a perfect introduction
        |  to the 
        i  Maison Apothecare
        |  aesthetic, evoking a vintage chalkboard.

    .flex.center.padding
      .flex-75
        img(src="/images/ma-10.png")
    
    section.copy
      .credits.flex
        ul.flex-50
          li Client: 
          li Natacha Rey, Maison Apothecare
        ul.flex-50
          li Branding &amp; Packaging Design:
          li Aprile Elcich
        ul.flex-50
          li Photography:
          li Maison Apothecare

    footer
      .wrapper
        a(href="/conductorlab").prev-project.conductorlab
          .bullet
          p Conductor<br>Lab
        a(href="/").next-project.index
          .bullet
          p Index    
