include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Maison Apothecare')

body#maisonapothecare
  +Header('Maison Apothecare')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Maison<br>Apothecare
        .caption &mdash; Branding, Packaging, Web Design
    
    section.copy
      blockquote 
        i Maison Apothecare
        |  is a growing maker of exquisite, small batch products made using
        |  100% pure plant derived extracts.
      hr
      p Working with Maison Apothecare for over 2 years, I helped founder Natacha Rey
        |  build the brand and packaging which strongly established their place in
        |  the local beauty care market in Ontario. 
      p Growing from a small wholesale business, Maison Apothecare now sells to
        |  department and grocery stores, and has opened three brick-and-mortar
        |  shops and an affiliate shop in the UK.
      
    img(src="/images/ma-1.png")

    section.copy
      h1 Branding
      h2 Logo
      p tbd
      img(src="/images/maisonapothecare-1.png")
      h2 Shape
      p tbd
      img(src="/images/maisonapothecare-4.png")

    section.flex.colour-grid
      .applecider
        ul
          li Apple Cider
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #AA6488
      .pinkgrapefruit
        ul
          li Pink Grapefruit
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #FD828B
      .citrus
        ul
          li Citrus Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #FDA328
      .pumpkin
        ul
          li Pumpkin Spice
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #E0843C
      .charcoal
        ul
          li Charcoal Sage
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #707C7C
      .lavender
        ul
          li Lavender
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #A1AfE3
      .eucalyptus
        ul
          li Pink Grapefruit
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #1FC4B3
      .lemonverbena
        ul
          li Lemon Verbena
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #97D429
      .mint
        ul
          li Citrus Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #1CBB72
      .spruce
        ul
          li Spruce Blossom
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #0D7166
    
    section.copy
      h2 Colour
      p tbd
      h2 Brand Guide
      p tbd
    
    .flex.padding
      .flex-25
        img(src="/images/MA_branding-3.jpg")
      .flex-25
        img(src="/images/MA_branding-4.jpg")
      .flex-25
        img(src="/images/MA_branding-2.jpg")
      .flex-25
        img(src="/images/MA_branding-1.jpg")
    
    hr.spacer
      
    img(src="/images/ma-4.png")
    img(src="/images/ma-8.png")

    .flex.center
      .flex-75
        img(src="/images/ma-6.png")
    
    img(src="/images/maison.png")
    img(src="/images/ma-10.png")

    img(src="/images/ma-7.png")

    .flex
      .flex-25
      .flex-25
        img(src="/images/maisonapothecare-9.png")
        .caption Hi
        
    .flex
      .flex-30
      .flex-50
        img(src="/images/maisonapothecare-10.png")

    section.page-footer
      .wrapper
        a(href="/conductorlab").prev-project.conductorlab
          .bullet
          p Conductor<br>Lab
        a(href="/").next-project.index
          .bullet
          p Index
    
  //- +Footer('Tonic', '/tonic', 'Wonder 4 Grams', '/wonder4grams')
