body#maisonapothecare
  .intro
    &.left
      background-image url('/images/maisonapothecare-8.png')

    &.right
      background-color #aa6488
      h1
        font-size 80px !important

  .colour-grid > *
    height 20vw
    font 14px var(--mono)
    letter-spacing 1px
    padding 50px
    flex-basis 20%
    &.applecider
      background-color #aa6488
    &.pinkgrapefruit
      background-color #fd828b
    &.citrus
      background-color #fda328
    &.pumpkin
      background-color #e0843c
    &.charcoal
      background-color #707c7c
    &.lavender
      background-color #a1afe3
    &.eucalyptus
      background-color #1fc4b3
    &.lemonverbena
      background-color #97d429
    &.mint
      background-color #1cbb72
    &.spruce
      background-color #0d7166
