include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Maison Apothecare')

body#maisonapothecare
  +Header('Maison Apothecare')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Maison<br>Apothecare
        .caption &mdash; Branding, Packaging, Web Design
    
    section.copy
      p Working with Maison Apothecare for over 2 years, I helped founder Natacha Rey
        |  build the brand and packaging which strongly established their place in
        |  the local beauty care market in Ontario. 
      p Growing from a small wholesale business, Maison Apothecare now sells to
        |  department and grocery stores, and has opened three brick-and-mortar
        |  shops and two affiliate shops (in Canada and the UK).
      
    section.flex.colour-grid
      .orange
        ul
          li Orange
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .red
        ul
          li Red
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .purple
        ul
          li Purple
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .yellow
        ul
          li Yellow
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .blue
        ul
          li Blue
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .green
        ul
          li Green
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA

    section.page-footer
      .wrapper
        a(href="/conductorlab").prev-project.conductorlab
          .bullet
          p Conductor<br>Lab
        a(href="/").next-project.index
          .bullet
          p Index
    
  //- +Footer('Tonic', '/tonic', 'Wonder 4 Grams', '/wonder4grams')
