include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Maison Apothecare')

body#maisonapothecare
  +Header('Maison Apothecare')
  
  main
    section.grid-min
      .intro
        p Working with Maison Apothecare for over 2 years, I helped founder Natacha Rey build the brand and packaging which strongly established their place in the local beauty care market in Ontario. 

    section.grid-max
      img(src="/images/ma-1.png")
    
    section.grid-min
      p Growing from a small wholesale business, Maison Apothecare now sells to department and grocery stores, and has opened three brick-and-mortar shops and two affiliate shops (in Canada and the UK).
  
    hr

    
  +Footer('Tonic', '/tonic', 'Wonder 4 Grams', '/wonder4grams')
