include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Petal & Leaf')

body#petalandleaf
  +Header('Petal & Leaf')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Petal &amp; Leaf
        .caption &mdash; Branding, Packaging, Web Design
    
    section.copy
      p 
        i Petal &amp; Leaf Holistic Aromatics
        |  is a natural line of perfumes formulated by french perfumers, each natural
        |  scent beautifully and carefully crafted. Inspired by the line, we created
        |  an identity and packaging to reflect the organic nature and intricacies
        |  of the product.
      
    section
      img(src="/images/petalandleaf-2.png" width="100%")

    section.flex.colour-grid
      .red
        ul
          li Amber &amp; Elemi
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .pink
        ul
          li Rose &amp; Ambrette
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .orange
        ul
          li Orange Blossom &amp; Jasmine
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .yellow
        ul
          li Bergamot &amp; Vanilla
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .purple
        ul
          li Ylang &amp; Sandalwood
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .blue
        ul
          li Lavender &amp; Mandarin
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .green
        ul
          li Narcissus &amp; Neroli
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .darkgreen
        ul
          li Dark Green
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
          
    section.copy
      h2 Colour
      p The accent colours themselves were developed based on the ingredients in
        |  the perfumes themselves and the subtle colours of the bottled liquid.
    
    .flex.center
      .flex-75
        img(src="/images/petalandleaf-3.png")
    
    section.copy
      p Since this design was always intended to be letterpress printed,
        |  the colors were chosen in order to be cost efficient. 
      p The main colour (dark green) is used for elements that are repeated,
        |  such as the logo and product information. All of the boxes were
        |  first printed in green, and then each were followed up with a print
        |  of their custom accent colour for the particular perfume scent.    
      
    img(src="/images/petalandleaf-1.png")

    section.copy
      h2 Logo
      p For the logo, we wanted to use a classic floral as well as a classic,
        |  timeless font, and created this vintage engraving which envelops the
        |  wordmark. This design allowed us to create a vertical version for the
        |  narrow small boxes the perfumes are packaged in, as well as a horizontal
        |  version for more common applications (web, stationery, etc).
      
    .flex.center
      .flex-75
        .flex.text-center
          .flex-30
            img(src="/images/pl-logos-1.png")
            .caption v1 &mdash; Full Texture
          .flex-30
            img(src="/images/pl-logos-2.png")
            .caption v2 &mdash; Half Texture
          .flex-30
            img(src="/images/pl-logos-3.png")
            .caption v3 &mdash; Horizontal

    section.copy
      p The printing method also brought a unique challenge, our original highly
        |  detailed engraving translated very heavy when printed with ink on the
        |  letterpress. We tested a number of logos and cleaned up the floral
        |  until we reached the ideal visual texture for printing.
      hr.spacer
      img(src="/images/petalandleaf-10.png")

    img(src="/images/petalandleaf-7.png")
    
    hr.spacer

    .flex
      .flex-50
      .flex-30
        img(src="/images/petalandleaf-5.png")
        .caption a. Letterpress printed boxes
      
    section.copy
      blockquote
        i Petal &amp; Leaf was created with one goal in mind. To offer an
          |  authentically natural perfume line, artfully constructed with
          |  the highest quality plant based materials, complete ingredient
          |  transparency and a price point that makes it within reach. 
        .caption &mdash; Lara Claassen, Creator
    
    img(src="/images/petalandleaf-6.png")
    
    hr.spacer
    .flex
      .flex-15
      .flex-30
        img(src="/images/petalandleaf-8.png")
        .caption b. Patterned box tops
    hr.spacer

    img(src="/images/petalandleaf-9.png")
    
    hr.spacer

    .flex.center
      .flex-75.border
        img(src="/images/petalandleaf-13.png")
    
    section.copy
      .credits.flex
        ul.flex-50
          li Client: 
          li Petal &amp; Leaf, Lara Claassen
        ul.flex-50
          li Creative Direction: 
          li Aprile Elcich
        ul.flex-50
          li Graphic Design:
          li
            a(href="https://petrac.ca" target="_blank" rel="noopener") Petra Cuschieri
            | , Aprile Elcich
        ul.flex-50
          li Web Design &amp; Dev: 
          li Aprile Elcich
        ul.flex-50
          li Photography (Styled):
          li 
            a(href="https://www.jenniferolson.com/" target="_blank" rel="noopener") Jennifer Olson
        ul.flex-50
          li Letterpress Printing:
          li 
            a(href="https://www.genghiskern.com/" target="_blank" rel="noopener") Genghis Kern
        ul.flex-50
          li Featured:
          li 
            a(href="https://thedieline.com/blog/2015/9/29/petal-leaf-holistic-aromatics" target="_blank" rel="noopener") The Dieline
            | ,&nbsp;
            a(href="http://lovelypackage.com/petal-leaf/" target="_blank" rel="noopener") Lovely Package

    section.page-footer
      .wrapper
        a(href="/vintagetype").prev-project.vintagetype
          .bullet
          p Vintage<br>Type
        a(href="/tonic").next-project.tonic
          .bullet
          p Tonic
    
  +Footer('Vintage Type', '/vintagetype', 'Tonic', '/tonic')
