body#petalandleaf
  --accent #8d9050

  .intro
    background-color #8d9050
    &.left
      background-image url('/images/petalandleaf-4.png')
    &.right
      h1.break
        display none
      @media $mobile
        h1.full
          display none
        h1.break
          display block

  section.image-box
    background-color #8d9050
    padding 100px 50px
    img
      width 80%
      margin 0 auto
      display block

  .text-center
    text-align center

  .colour-grid > *
    height 50vw
    font 14px var(--mono)
    letter-spacing 1px
    padding 50px
    flex-basis 50%
    @media $mobile
      padding 20px
    @media $desktop
      flex-basis 25%
      height 25vw
    &.red
      background-color #b55f36
    &.pink
      background-color #d59fa6
    &.orange
      background-color #eab636
    &.yellow
      background-color #e8d628
    &.darkgreen
      background-color #8d9050
    &.green
      background-color #c9d345
    &.blue
      background-color #cdd6ee
    &.purple
      background-color #8976be
