include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Petal & Leaf')

body#petalandleaf
  +Header('Petal & Leaf')
  
  main
    section.grid-max
      img(src="/images/petalandleaf-1.png")
    
    section.grid-min
      .intro
        p Petal &amp; Leaf Holistic Aromatics is a natural line of perfumes formulated by french perfumers, each natural scent beautifully and carefully crafted. Inspired by the line, we created an identity and packaging to reflect the organic nature and intricacies of the product.
  
    hr

    section.grid-min
      h2 Colour
      p Since this design was always intended to be letterpress printed, the colors were chosen in order to be cost efficient. The main colour (dark green) is used for elements that are repeated, such as the logo and product information. All of the boxes were first printed in green, and then each were followed up with a print of their custom accent colour for the particular perfume scent.

    section.grid-med
      .swatchset
        .swatch.red
          span
        .swatch.pink
          span
        .swatch.orange
          span
        .swatch.yellow
          span
        .swatch.green
          span
        .swatch.blue
          span
        .swatch.purple
          span
        .swatch.darkgreen
          span
    
    section.grid-min
      p The accent colours themselves were developed based on the ingredients in the perfumes themselves and the subtle colours of the bottled liquid.
      hr

    section.grid-max
      img(src="/images/petalandleaf-3.png")

    section.grid-min
      .flex
        .caption
          span.num a.
          span Bottles with perforated sticker labels

      h2 Typography
      p The primary colours (top row) are used for the main application styles, and the secondary colours (bottom row) are optional accent colours. Only one accent colour is used at a time, as a complement to the minimalist tones of the primary scheme.
      
      .spacer

      h2 Logo
      p For the logo, we wanted to use a classic floral as well as a classic, timeless font, and created this vintage engraving which envelops the wordmark. This design allowed us to create a vertical version (for the narrow small boxes the perfumes are packaged in) as well as a horizontal version for typical applications (web, stationery, etc).
    
    section.grid-med  
      .grid-image-thirds.flex
        div
          img(src="/images/pl-logos-1.png")
          span v1 &mdash; Full Texture
        div
          img(src="/images/pl-logos-2.png")
          span v2 &mdash; Half Texture
        div
          img(src="/images/pl-logos-3.png")
          span v3 &mdash; Horizontal
    
    section.grid-min
      p The printing method also brought a unique challenge, our original highly detailed engraving translated very heavy when printed with ink on the letterpress. We tested a number of logos and cleaned up the floral until we reached the ideal visual texture for printing
        b  (fig. b)
        | .

    .spacer

    section.grid-max
      img(src="/images/petalandleaf-5.png")

    section.grid-min
      .flex.between
        .caption
          span.num b.
          span Letterpress test prints for logo texture
        .caption
          span.num c.
          span Bottle label detail
        
    section.grid-min
      .spacer

      h2 Business Cards
      p The business card reflects the design of the boxes using the same typography and vertical logo, but somewhat simplified. These were also letterpress printed alongside the packaging.
    
    .spacer
    
    section.grid-max
      img(src="/images/petalandleaf-6.png")
        
    section.grid-min
      blockquote
        p Petal &amp; Leaf was created with one goal in mind.  To offer an authentically natural perfume line, artfully constructed with the highest quality plant based materials, complete ingredient transparency and a price point that makes it within reach. 
        span Lara Claassen, Creator

    section.grid-max
      img(src="/images/petalandleaf-7.png")
    
    section.grid-min    
      .flex
        .caption
          span.num d.
          span Boxes &mdash; Ingredients Panel
          
      .spacer

      h2 Packaging
      p Lorem Ipsum...

    section.grid-max
      .grid-image-thirds.flex
        div
          img(src="/images/pl1.png")
        div
          img(src="/images/pl2.png")
        div
          img(src="/images/pl3.png")

    section.grid-min
      h2 Display
      p Lorem Ipsum...
      
      .spacer
    
    section.grid-max
      img(src="/images/petalandleaf-2.png")

    section.grid-min
      .spacer
      h2 Website
      p Lorem ipsum...
      
      .spacer

    section.grid-max
      img(src="/images/petalandleaf-9.png")
    
    .spacer

    section.grid-med
      img(src="/images/petalandleaf-8.png")

    .spacer

    section.grid-min
      h2 Credits
      p Client &mdash; Petal &amp; Leaf, Lara Claassen,
        //- |  Graphic Design &mdash; Petra Cuschieri,
        //- |  Creative Direction &mdash; Aprile Elcich,
        //- |  Web Design &amp; Development &mdash; Aprile Elcich,
        //- |  Photography &mdash; Lunch Money Studios
    
  +Footer('Vintage Type', '/vintagetype', 'ConductorLab', '/conductorlab')
