body#petalandleaf
  --accent #8d9050

  .intro
    margin-bottom 40px
    p
      color var(--accent)
      margin-bottom 0

  .swatchset
    .swatch
      flex-basis 12.5%

      span
        padding-bottom 100%

      &.red span
        background #b55f36
      &.pink span
        background #d59fa6
      &.orange span
        background #eab636
      &.yellow span
        background #e8d628
      &.darkgreen span
        background #8d9050
      &.green span
        background #c9d345
      &.blue span
        background #cdd6ee
      &.purple span
        background #8976be
