body#conductorlab

  .swatchset
    justify-content space-around

    .swatch
      flex-basis 30%
      margin-bottom 35px
  
      &.orange span
        background-color #f69a56
      &.red span
        background-color #e9664e
      &.purple span
        background-color #6a7ebb
      &.yellow span
        background-color #dac95b
      &.blue span
        background-color #1bacb9
      &.green span
        background-color #459b40
