include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('ConductorLab')

body#conductorlab
  +Header('ConductorLab')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Conductor<br>Lab
        .caption &mdash; Product Design, UX/UI, Branding
    
    section.copy
      blockquote A simplified user experience for common cloud services with wizards
        |  for easily completing common or repetitive tasks.
      hr
      h2 Problem
      blockquote
        i Cloud services and their websites can be very difficult to use and understand.
      p Extensive knowledge of the largest and most popular cloud platforms
        |  is now expected of developers and there are many courses offered on
        |  the subject of learning how to use the platform and its offerings.
      p  Access to cloud services is becoming essential and should be accessible
        |  to developers at any level.
      hr
      h2 Solution
      ul.bulleted
        li Design a consistent and reliable user experience across all cloud services
        li Create easy to use wizards for completing common tasks
        li Quickly access each app, updates, and tutorials from a tray app
    
    section.image-box.logo
      img(src="/images/conductorlab-0.svg")

    section.copy
      h1 Visual Interface Design
      p The goal of the
        i  ConductorLab
        |  brand is to appeal to new and existing developers and to be
        |  more friendly and welcoming than the corporate approaches
        |  of other cloud services.

    hr

    .flex.center
      .flex-75
        img(src="/images/conductorlab-12.png")

    section.copy
      h2 Typography
      p Crisp, elegant and playful
        i  Caudex
        |  was chosen as the primary display font for headlines.
      p  As a complement, 
        i  Poppins Bold
        |  is used for subheaders and to highlight information, and
        i  Assistant Regular
        |  is the primary font for body copy, which was chosen for its legibility
        |  while still reflecting the light approach of the brand.
      hr
      h2 Colour
      p The colour palette was chosen to be especially bright, friendly,
        |  and approachable, inspired by learning and growth.

    section.flex.colour-grid
      .orange
        ul
          li Orange
          li &mdash;
          li R246 G154 B86
          li #F69A56
      .red
        ul
          li Red
          li &mdash;
          li R233 G102 B78
          li #E9664E
      .purple
        ul
          li Purple
          li &mdash;
          li R106 G126 B187
          li #6A7EBB
      .teal
        ul
          li Teal
          li &mdash;
          li R26 G172 B185
          li #1AACB9
      .yellow
        ul
          li Yellow
          li &mdash;
          li R218 G201 B91
          li #DAC95B
      .blue
        ul
          li Blue
          li &mdash;
          li R57 G122 B200
          li #459B40
      .green
        ul
          li Green
          li &mdash;
          li R69 G155 B64
          li #397AC8
      .gray
        ul
          li Gray
          li &mdash;
          li R52 G55 B61
          li #35383D
    
    section.copy
      h2 App Icons
      p The icons are designed to be recognizable but also quite simplistic,
        |  slightly abstract, and a little bit quirky. The 
        i  Gitmesh
        |  app icon is a familiar &ldquo;branch&rdquo; and the 
        i  Logs
        |  icon is a literal &ldquo;log&rdquo;.
      p Application icons from left to right:
        i  NoSQL, Gitmesh, Logs, Buckets, Functions.
      hr.spacer
      .flex.app-icons.space
        .flex-15
          img(src="/images/cl_icon-dynamo.svg")
        .flex-15
          img(src="/images/cl_icon-gitmesh.svg")
        .flex-15
          img(src="/images/cl_icon-log.svg")
        .flex-15
          img(src="/images/cl_icon-s3.svg")
        .flex-15
          img(src="/images/cl_icon-functions.svg")
    hr
    section.copy
      h1 Primary App
      p With an application format similar to
        i  Adobe Creative Cloud
        | , new desktop
        |  apps and updates to existing apps are available through the primary
        |  menu bar app.
      p The menu bar app also provides access to the ConductorLab wizards
        |  and tutorials.
    img(src="/images/conductorlab-6.jpg")
    hr
    .flex.center
      .flex-75
        img(src="/images/conductorlab-2.png")
    
    section.copy
      h1 ConductorLab Apps
      h2 Problem
      blockquote
        i Create a consistent and reliable user experience across all cloud services.
      hr
      p Example of 
        i  ConductorLab
        |  apps and their comparisons.
      ul.bulleted
        li Logs (AWS CloudWatch, Azure Monitor)
        li Buckets (Amazon S3, Azure Storage)
        li Functions (AWS Lambda)
        li NoSQL (DynamoDB)
        li Gitmesh (P2P Github)
        
    .flex.center
      .flex-50
        img(src="/images/conductorlab-10.jpg")
    hr.spacer
        
    section.image-box.dark
      img(src="/images/conductorlab-4.png")

    section.image-box.dark
      img(src="/images/conductorlab-8.png")
    
    section.copy
      h1 Wizards
      p The unique feature of
        i  ConductorLab
        |  is the wizards and tutorials for each application. The
        |  wizards allow the user to complete common cloud tasks, such as
        |  creating a new storage bucket, setting up a static website,
        |  creating a new lamdba function, etc.

    section.image-box.dark
      img(src="/images/conductorlab-13.jpg")
    
    section.copy
      h2  User Flow
      p This process, which is typically tedious for experienced developers and
        |  feels nearly impossible for new developers, is translated into a clear
        |  and concise set of steps that are automated by the application, while
        |  being presented as a simple flow for the user to complete.
      p Below is an example of the wizard user flow for setting up a static website on an
        i  Amazon S3
        |  bucket with a custom domain.
        
    .flex.center
      .flex-50
        img(src="/images/conductorlab.png")
    
    hr

    section.copy
      h1 Gitmesh
      blockquote Gitmesh is a peer-to-peer approach to 
        i  Git
        |  and rethinking the Github interface for a p2p desktop application.
    
    img(src="/images/conductorlab-3.png")
    img(src="/images/conductorlab-5.jpg")
    .flex.center
      .flex-50
        .caption a. Design experimentation of activity graph
    
    hr.spacer
    
    section.copy
      h1 Website Design
    
    .flex.center
      .flex-75
        img(src="/images/conductorlab-website.jpg")
    
    hr.spacer

    section.page-footer
      .wrapper
        a(href="/tonic").prev-project.tonic
          .bullet
          p Tonic
        a(href="/maisonapothecare").next-project.maisonapothecare
          .bullet
          p Maison<br>Apothecare
          
  +Footer('Tonic', '/tonic', 'Maison Apothecare', '/maisonapothecare')
