include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('ConductorLab')

body#conductorlab
  +Header('ConductorLab')
  
  main
    section.grid-max
      img(src="/images/cl.png")
    
    section.grid-min
      .intro
        p Petal &amp; Leaf Holistic Aromatics is a natural line of perfumes formulated by french perfumers, each natural scent beautifully and carefully crafted. Inspired by the line, we created an identity and packaging to reflect the organic nature and intricacies of the product.
  
    hr

    
  +Footer('Petal & Leaf', '/petalandleaf', 'Voltra Music Server', '/vms')
