include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('ConductorLab')

body#conductorlab
  +Header('ConductorLab')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Conductor<br>Lab
        .caption &mdash; Product Design, UX/UI, Web Design, Branding
    
    section.copy
      p tbd
      
    section.flex.colour-grid
      .orange
        ul
          li Orange
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .red
        ul
          li Red
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .purple
        ul
          li Purple
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .yellow
        ul
          li Yellow
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .blue
        ul
          li Blue
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .green
        ul
          li Green
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
    
    section.grid-max
      img(src="/images/cl.png")
    
    section.copy
      blockquote A simplified user experience for cloud services with wizards for
        |  completing common or repetitive tasks.
      hr
      p Cloud services and their websites can be difficult to use and understand.
        |  Extensive knowledge of Amazon Web Services (AWS) and Microsoft Azure,
        |  the largest and most popular cloud platforms, is now expected of
        |  developers and there are many courses offered on the subject of
        |  learning how to use the platform and its offerings. Access to cloud
        |  services is becoming essential and should be accessible to developers
        |  at any level.
      
      h2 Brand
      p The ConductorLab brand was designed to be especially bright and friendly,
        |  inspired by learning and growth, in order to be welcoming to new developers,
        |  as opposed to the more corporate approaches of other cloud services.
      
      h2 Typography
      p Lorem ipsum...
      
      h2 App Icons
    
      h2 Primary App
      p With an application format similar to 
        i Adobe Creative Cloud
        | , new desktop apps and updates to existing apps are available through the
        |  primary menu bar app.
      p This menu bar app also provides access to the 
        i ConductorLab
        |  wizards and tutorials.
        
      h2 Apps
      .quote
        h3 Problem
        p Create a consistent and reliable user experience across all cloud services.
      
      p The ConductorLab suite of apps and their comparisons.
      ul 
        li Logs (AWS CloudWatch, Azure Monitor)
        li Buckets (Amazon S3, Azure Storage)
        li Functions (AWS Lambda)
        li NoSQL (DynamoDB)
        li Gitmesh (P2P Github)
      
      p Right: This is an example of the Logs app for viewing streaming logs,
        |  an alternative to AWS Cloudwatch. Improved custom labels, more spacious
        |  and legible rows and typography.
    
      h2 Wizards
      p The unique feature of ConductorLab is the wizards and tutorials for each
        |  application / service. The wizards allow the user to com- plete common
        |  AWS tasks, such as creating a new S3 bucket, setting up a static website,
        |  creating a new lamdba function, etc.
      h3 User Flow
      p Example of the wizard user flow for setting up a static website on an Amazon
        |  S3 bucket with a custom domain.
      p This process, which is typically tedious for experienced developers and
        |  feels nearly impossible for new developers, is translated into a clear
        |  and concise set of steps that are automated by the application, while
        |  being presented as a simple flow for the user to complete.
    
      h2 Gitmesh
      p Gitmesh is a peer-to-peer approach to Git and rethinking the Github
        |  interface for a p2p desktop application.
          
    hr

    
  +Footer('Petal & Leaf', '/petalandleaf', 'Voltra Music Server', '/vms')
