body#conductorlab
  --accent #397ac8

  .intro
    background-color var(--accent)
    &.left
      background-image url('/images/conductorlab-1.png')
    &.right
      h1
        letter-spacing 0px !important
        font-size 70px !important
        line-height 70px !important

  section.image-box
    padding 100px 50px
    img
      width 70%
      margin 0 auto
      display block
    &.dark
      background-color #35383d
    &.logo
      padding 250px 50px
      background-color var(--accent)
      @media $mobile
        padding 100px 50px
      img
        width 40%
        @media $mobile
          width 80%

  .colour-grid > *
    height 260px
    font 14px var(--mono)
    letter-spacing 1px
    padding 50px
    flex-basis 50%
    @media $mobile
      padding 20px
      height 200px
    @media $desktop
      flex-basis 25%
    &.orange
      background-color #f69a56
    &.red
      background-color #e9664e
    &.purple
      background-color #6a7ebb
    &.yellow
      background-color #dac95b
    &.teal
      background-color #1bacb9
    &.green
      background-color #459b40
    &.gray
      color white
      background-color #35383d
    &.blue
      background-color var(--accent)
