include ../../mixins/head
include ../../mixins/header

head
  +Head('Vintage Type')
  
  meta(property="og:title", content="Vintage Type")
  meta(property="og:url", content="https://aprileelcich.com/vintagetype")
  meta(property="og:image", content="https://aprileelcich.com/images/vintagetype-5.png")
  meta(name="twitter:image", content="https://aprileelcich.com/images/vintagetype-5.png")

body#vintagetype
  +Header('Vintage Type')
  
  main
    .intro-wrapper
      .intro.left
      .intro.right
        h1 Vintage<br>Type
        .caption &mdash; Graphic Design, Frontend Development
    
    section.copy
      p I have always been a fan of
        i  more is more
        | , and there is something captivating about how we used to arrange our
        |  type, even occasionally bordering on incoherent and disorderly, but 
        i  undeniably beautiful.
      br
      p For this self-initiated project, I wanted to experiment with web typography
        |  based on vintage type samples — advertisements, packaging, matchbooks,
        |  postcards, etc — and freshly illustrate them for the web.
      
      .view-site
        a(href="http://aprile.github.io/vintagetype/" rel="noopener" target="_blank") View site &rarr;
  
    img(src="/images/vt-1.png")
    img(src="/images/vt-2.png")
    img(src="/images/vt-3.png")
    img(src="/images/vt-4.png")
    img(src="/images/vt-5.png")
    img(src="/images/vt-6.png")
    img(src="/images/vt-7.png")
    
    section.copy
      .credits.flex
        ul.flex-50
          li Fonts:
          li Oswald, Krona One, Cardo, Raleway, Herr Von Muellerhoff, Sacramento.

    footer
      .wrapper
        a(href="/islandjoy").prev-project.islandjoy
          .bullet
          p Island<br>Joy
        a(href="/petalandleaf").next-project.petalandleaf
          .bullet
          p Petal &amp;<br>Leaf
