include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Vintage Type')

body#vintagetype
  +Header('Vintage Type')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Vintage<br>Type
    
    section.copy
      p I have always been a fan of
        i  more is more
        | , and there is something captivating about how we used to arrange our type, even occasionally bordering on incoherent and disorderly, but 
        i  undeniably beautiful.

    section.grid-max
      img(src="/images/vt-1.png")
        
    section.copy
      p For this self-initiated project, I wanted to experiment with web typography based on vintage type samples — advertisements, packaging, matchbooks, postcards, etc — and freshly illustrate them for the web.
  
    hr

    
  +Footer('Island Joy', '/islandjoy', 'Petal & Leaf', '/petalandleaf')
