.code
  color #282d2e
  max-width 750px
  font 0.9em/1.7em var(--mono)
  white-space pre-wrap
  padding 20px
  background-color var(--background-light)
  border 1px solid var(--border)
  border-radius 5px

  span
    &.line
      display block
    &.c1
      color gray
    &.c2
      color var(--code-highlight)
