@require './variables.styl'
@require './functions.styl'

*
  box-sizing border-box

body
  font-family var(--primary)
  margin 0
  padding 0
  background-color #191919

  main
    background-color white

  h1, h2, h3
    font-weight normal

  h1
    font normal 40px var(--primary)
    margin-bottom 70px
    margin-top 0

  h2
    font bold 22px var(--secondary)
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 30px

  h4
    font 14px var(--secondary)
    text-transform uppercase
    margin-top 40px

  p
    font 300 24px/34px var(--primary)
    @media $mobile
      font 300 20px/28px var(--primary)

  a
    color inherit
    text-decoration none

  blockquote
    font 32px/42px var(--primary)
    margin 0

  ul
    list-style none
    padding 0
    margin 0

  hr
    margin 50px 0
    border 0
    border-top 1px solid #eaeaea
    &.spacer
      border-top 0

  img
    max-width 100%

  nav
    height 70px
    font 20px var(--secondary)
    padding 20px
    display flex
    position fixed
    top 0
    left 0
    right 0
    border-bottom 1px solid black
    > *
      flex-basis 33.3333%

    .top-left
      font-family var(--primary)
      font-weight bold
      letter-spacing 1px
      margin 3px 0

    .top-center
      font-weight 600
      text-align center
      text-transform uppercase
      letter-spacing 2px

    .top-right
      text-align right

  section.copy
    padding 0
    margin 80px auto
    @media $mobile
      margin 50px auto

  .copy
    width 90%
    max-width 700px
    margin 0 auto
    @media $desktop-large
      width 50%
    @media $tablet
      width 70%

  .flex
    display flex
    flex-wrap wrap
    &.center
      justify-content center

    .flex-25
      flex-basis 25%

    .flex-30
      flex-basis 33.3333%

    .flex-50
      flex-basis 100%
      @media $desktop
        flex-basis 50%

    .flex-75
      flex-basis 90%
      @media $desktop
        flex-basis 75%

    .border
      border 1px solid #eaeaea

  .intro
    height 60vh
    max-height 1050px
    @media $mobile
      height 50vh
    @media $desktop
      height 100vh

    &.left
      background-size cover
      background-position center

    &.right
      padding 60px
      padding-top 100px
      @media $mobile
        padding 40px
        padding-top 100px

      h1
        font 600 100px/100px var(--secondary)
        text-transform uppercase
        letter-spacing 5px
        margin 50px 0
        @media $mobile
          font 600 60px/60px var(--secondary)
          letter-spacing 2px
          margin 0

      .caption
        font-family var(--mono)
        font-size 14px

  .view-site
    margin-top 30px
    a
      color var(--accent)
      font bold 20px var(--mono)
      text-decoration underline
      &:hover
        text-decoration none

  .image-small
    padding 50px 0
    @media $desktop
      padding 150px 0
    .flex-50
      text-align center

  ul.bulleted
    font-size 18px
    line-height 31px
    list-style square
    margin-left 18px

  .caption
    font 12px var(--mono)
    margin-top 20px

  .credits
    font 14px var(--mono)
    padding 15px 30px
    border 1px solid black

    a
      text-decoration underline
      &:hover
        color var(--accent)

    ul
      margin 8px 0

  .page-footer
    border-top 1px solid black
    border-bottom 1px solid black

    .wrapper
      display flex
      > *
        flex-basis 50%
        padding 40px
        p
          font 600 22px/26px var(--secondary)
          text-transform uppercase
          letter-spacing 2px
        &:first-of-type
          border-right 1px solid black
        &:last-of-type
          text-align right

    .bullet
      Size(30px, 30px)
      display inline-block
      border-radius 50%
