@require './variables.styl'
@require './functions.styl'

*
  box-sizing border-box

body
  font-family var(--primary)
  margin 0
  padding 0
  background-color #191919

  main
    background-color white
    overflow hidden

  h1, h2, h3
    font-weight normal

  h1
    font normal 40px var(--primary)
    margin-bottom 70px
    margin-top 0

  h2
    font bold 22px var(--secondary)
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 30px

  h4
    font 14px var(--secondary)
    text-transform uppercase
    margin-top 40px

  p
    font 300 24px/34px var(--primary)
    @media $mobile
      font 300 20px/28px var(--primary)

  a
    color inherit
    text-decoration none

  blockquote
    font 32px/42px var(--primary)
    margin 0

  ul
    list-style none
    padding 0
    margin 0

  hr
    margin 50px 0
    border 0
    border-top 1px solid #eaeaea
    &.spacer
      border-top 0
    @media $mobile
      margin 30px 0

  img
    max-width 100%

  nav
    height 70px
    font 20px var(--secondary)
    padding 20px
    display flex
    position fixed
    top 0
    left 0
    right 0
    border-bottom 1px solid black

    .top-left
      font-family var(--primary)
      font-weight bold
      letter-spacing 1px
      margin 3px 0
      flex-basis 10%

    .top-center
      font-weight 600
      text-align center
      text-transform uppercase
      letter-spacing 2px
      flex-basis 80%

    .top-right
      text-align right
      flex-basis 10%
      padding 3px

  section.copy
    padding 0
    margin 80px auto
    @media $mobile
      margin 50px auto

  .copy
    width 90%
    max-width 700px
    margin 0 auto
    @media $desktop-large
      width 50%
    @media $tablet
      width 70%

  .flex
    display flex
    flex-wrap wrap
    &.inset
      @media $mobile
        padding 0 25px
    &.space
      justify-content space-between
    &.center
      justify-content center
    &.padding > *
      padding 30px
    .border
      border 1px solid #eaeaea

  .flex-15
    flex-basis 15%

  .flex-25
    flex-basis 25%

  .flex-30
    flex-basis 33.3333%
    @media $mobile
      flex-basis 100%

  .flex-50
    flex-basis 100%
    @media $desktop
      flex-basis 50%

  .flex-75
    flex-basis 90%
    @media $desktop
      flex-basis 75%

  .intro-wrapper
    display flex
    flex-wrap wrap

    .intro
      flex-basis 50%
      height 100vh
      max-height 1050px
      overflow hidden
      @media $tablet-landscape
        height 100vh
        max-height 700px
      @media $portrait
        flex-basis 100%
        height 50vh

      @media $desktop
        height 100vh

      &.left
        background-size cover
        background-position center

      &.right
        padding 40px
        padding-top 50px

        h1
          font 600 60px/60px var(--secondary)
          letter-spacing 2px
          text-transform uppercase
          word-break break-all
          margin 0
          @media $tablet-small
            margin-top 50px
            font 600 80px/80px var(--secondary)
          @media $tablet
            margin-top 10vh
            font 600 80px/80px var(--secondary)
          @media $desktop
            font 600 100px/100px var(--secondary)
            letter-spacing 5px
            margin-top 100px

      .caption
        font-family var(--mono)
        font-size 14px

  .view-site
    margin-top 30px
    a
      color var(--accent)
      font bold 20px var(--mono)
      text-decoration underline
      &:hover
        text-decoration none

  .image-small
    padding 50px 0
    @media $desktop
      padding 150px 0
    .flex-50
      text-align center

  ul.bulleted
    font-size 18px
    line-height 31px
    list-style square
    margin-left 18px

  .caption
    font 12px var(--mono)
    margin-top 20px

  .credits
    font 14px var(--mono)
    padding 15px 30px
    border 1px solid black

    a
      text-decoration underline
      &:hover
        color var(--accent)

    ul
      margin 8px 0

  .page-footer
    border-top 1px solid black
    border-bottom 1px solid black

    a
      word-break break-all

    .bullet
      Size(40px, 40px)
      display inline-block
      CenterY()
      border-radius 50%
      transition opacity 0.2s ease
      opacity 0

    .wrapper
      display flex
      > *
        position relative
        flex-basis 50%
        padding 40px
        display block
        cursor pointer
        p
          font 600 22px/26px var(--secondary)
          text-transform uppercase
          letter-spacing 2px

        &:hover .bullet
          opacity 1
        &:hover p
          text-decoration underline

        &.prev-project
          border-right 1px solid black
          .bullet
            right 50px

        &.next-project
          text-align right
          .bullet
            left 50px

      > *
        &.voltra .bullet
          background-color #ed4224
        &.dtn .bullet
          background-color #E1AA55
        &.islandjoy .bullet
          background-color #C5BACC
        &.vintagetype .bullet
          background-color #28436b
        &.petalandleaf .bullet
          background-color #8b8d54
        &.tonic .bullet
          background-color #dac863
        &.conductorlab .bullet
          background-color #397ac8
        &.maisonapothecare .bullet
          background-color #aa6488
        &.index .bullet
          background-color #191919
