@font-face
  font-family 'YoungSerif-Regular'
  src url('/fonts/YoungSerif-Regular.otf') format('otf')

*
  --primary 'Lexend Deca', sans-serif
  --secondary 'YoungSerif-Regular', Georgia, serif
  --body 'Source Serif Pro', serif
  --mono 'Roboto Mono', monospace
