//
// Swatches
//
.swatchset
  display flex
  flex-wrap wrap
  justify-content flex-start
  margin-top 50px
  &:last-of-type
    margin-bottom 50px

  .swatch
    flex-basis 20%

  .swatch span
    width 100%
    padding-bottom 75%
    display block

  .swatch ul
    color var(--text)
    font 0.8em/1.5em var(--primary)
    letter-spacing 1px
    text-transform uppercase
    list-style none
    padding 0
