$smallmobile = 'only screen and (min-device-width: 320px) and (max-device-width: 568px)'

$mobile = 'only screen and (min-device-width: 375px) and (max-device-width: 667px)'
$mobile-landscape = 'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape)'
$mobile-portrait = 'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)'

$tablet = '(min-width: 768px) and (max-width: 1024px)'
$tablet-landscape = '(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)'
$tablet-portrait = '(min-width: 768px) and (max-width: 1024px) and (orientation: portrait)'

$desktop = '(min-width: 1024px)'
$desktop-large = '(min-width: 1250px)'

$portrait = 'only screen and (orientation: portrait)'
$landscape = 'only screen and (orientation: lanscape)'

*
  --border #eaeaea
  --background #f4f4f4
  --background-light #f8f8f8
  --background-dark #1e1f22
  --code-highlight #ed4123
  --text #7c7c7c
  //
  // Voltra Swatches
  //
  --lightgray #f3f4f4
  --mediumgray #9fabb3
  --darkgray #282c2d
  --black #000000
  --gold #AD9759
  --red #ed4224
  --purple #7f4c9d
  --blue #4079bc
  --green #3a9545
