$smallmobile = 'only screen and (min-device-width: 320px) and (max-device-width: 568px)'

$mobile = 'only screen and (min-device-width: 375px) and (max-device-width: 667px)'
$mobile-landscape = 'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape)'
$mobile-portrait = 'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)'

$tablet = '(min-width: 768px) and (max-width: 1024px)'
$tablet-landscape = '(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)'
$tablet-portrait = '(min-width: 768px) and (max-width: 1024px) and (orientation: portrait)'

$desktop = '(min-width: 1024px)'

$portrait = 'only screen and (orientation: portrait)'
$landscape = 'only screen and (orientation: lanscape)'
