body#dtn
  --accent #c08a39

  .intro
    &.left
      background-image url('/images/dtn-0.jpg')

    &.right
      background-color #E1AA55

  .colour-grid
    display flex
    .colour
      height 250px
      font 14px var(--mono)
      padding 40px
      flex-basis 50%
      &.black
        color white
        background-color #21211d
      &.cream
        background-color #f6eddb

  .copy
    padding 60px 0

  section.image-box
    background-color var(--accent)
    padding 100px 50px
    img
      width 80%
      margin 0 auto
      display block
