body#dtn
  --accent #c08a39

  .intro
    &.left
      background-image url('/images/dtn-0.jpg')

    &.right
      background-color #E1AA55

  .colour-grid
    display flex
    .colour
      height 250px
      flex-basis 50%
      padding 40px
      font 14px var(--mono)
      &.black
        color white
        background-color #21211d
      &.cream
        background-color #f6eddb

  .page-footer
    // .voltra
    //   cursor url('/images/cursor-voltra.png'), pointer
    // .islandjoy
    //   cursor url('/images/cursor-islandjoy.png'), pointer

  .copy
    padding 100px 0
    p
      max-width 700px
      margin 0 auto

  section.image-box
    background-color var(--accent)
    padding 100px 50px
    img
      width 80%
      margin 0 auto
      display block
