include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Data Terra Nemo')

body#dtn
  +Header('Data Terra Nemo')

  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Data Terra Nemo
        .caption &mdash; Product Design, UI/UX
    
    section.copy
      p A technical conference for computer scientists focused on distributed and decentralized systems.
    
    section.image-box
      img(src="/images/dtn-3.png")
    
    section
      img(src="/images/dtn-4.png" width="100%")
      img(src="/images/dtn-7.png" width="100%")
      img(src="/images/dtn-6.png" width="100%")
      img(src="/images/dtn-2.png" width="100%")
        
    section.copy
      .credits
        ul
          li Venue Photography: Nino V. Valpiani 
          li T-shirt Printing: 

    section.page-footer
      .wrapper
        a(href="/voltra").prev-project.voltra
          .bullet
          p Voltra
        a(href="/islandjoy").next-project.islandjoy
          .bullet
          p Island<br>Joy
      

  +Footer('Voltra', '/voltra', 'Island Joy', '/islandjoy')
