include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Data Terra Nemo')

body#dtn
  +Header('Data Terra Nemo')

  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Data Terra Nemo
        .caption &mdash; Branding, Web Design &amp; Development
    
    section.copy
      p 
        i Data Terra Nemo
        |  is a technical conference for hackers and computer scientists focused on distributed and decentralized systems.

      .view-site
        a(href="https://dtn.is" rel="noopener" target="_blank") https://dtn.is
    
    section
      img(src="/images/dtn-1.png" width="100%")
      img(src="/images/dtn-3.png" width="100%")
    
    hr.spacer

    .flex
      .flex-25
      .image.flex-50
        img(src="/images/dtn-5b.png" width="70%")
        .caption a. 
          i Data Terra Nemo
          |  pins and stickers
      .flex-25
      
      
    .copy
      h2 Colour
      p Inspired by vintage printed materials, an aged version of black and white, 
        |  the monochromatic colour scheme was used across all conference communications, 
        |  which was complemented with colour and black and white photography.
      
    .flex.center
      .flex-75
        .colour-grid
          .colour.black
            ul
              li Soft Black
              li &mdash;
              li #21211D
              li R33 G3 B29
              li C70 M64 Y69 K7
          .colour.cream
            ul
              li Cream
              li &mdash;
              li #F6EDDB
              li R246 G237 B220
              li C3 M5 Y13 K0
    hr.spacer
    img(src="/images/dtn-logo.png" width="100%")

    section
      img(src="/images/dtn-4.png" width="100%")
      img(src="/images/dtn-7.png" width="100%")
    
    section.copy
      p The event was held in a beautiful 1950s-era recording studio in a former state radio broadcast centre, overlooking the 
        i River Spree
        | , called 
        i Funkhaus Berlin.
        
    .flex
      .flex-25
      .image.flex-50
        img(src="/images/dtn-9.png" width="75%")
        .caption b. T-Shirt Design
    
    hr.spacer

    section
      img(src="/images/dtn-8.png" width="100%")

    section.copy
      h2 Website Design
      p The venue contributed stylistic and thematic inspiration to the design and branding of
        i  Data Terra Nemo.
    
    section
      img(src="/images/dtn-6.png" width="100%")
        
    section.image-small.flex
      .flex-50
      .image.flex-50
        img(src="/images/dtn.jpg" width="50%")
        .caption c. 
          i Data Terra Nemo
          |  pin
        
    section.copy
      .credits.flex
        ul.flex-50
          li Venue Photography: 
          li Nino V. Valpiani 
        ul.flex-50
          li T-shirt Printing:
          li Ayuhara
        ul.flex-50
          li Graphic Design:
          li Aprile Elcich
        ul.flex-50
          li Web Development:
          li Aprile Elcich
        ul.flex-50
          li Event Coordinators:
          li Aprile Elcich &amp; Paolo Fragomeni
          
    section.page-footer
      .wrapper
        a(href="/voltra").prev-project.voltra
          .bullet
          p Voltra
        a(href="/islandjoy").next-project.islandjoy
          .bullet
          p Island<br>Joy
      

  +Footer('Voltra', '/voltra', 'Island Joy', '/islandjoy')
