body#dtn
  --accent #c08a39

  .view-site
    margin-top 30px
    a
      color var(--accent)
      font bold 20px var(--mono)
      text-decoration underline
      cursor url('/images/cursor-dtn.png'), pointer
      &:hover
        text-decoration none

  .intro
    &.left
      background-image url('/images/dtn-0.jpg')

    &.right
      background-color #E1AA55

  .page-footer
    .voltra
      cursor url('/images/cursor-voltra.png'), pointer
    .islandjoy
      cursor url('/images/cursor-islandjoy.png'), pointer

  .copy
    padding 100px 0
    p
      max-width 700px
      margin 0 auto

  section.image-box
    background-color var(--accent)
    padding 100px 50px
    img
      width 80%
      margin 0 auto
      display block
