body#notfound

  main
    width 100%
    height 100%

    section
      text-align center
      CenterXY()

      a
        font bold 16px var(--secondary)
        text-decoration underline
        &:hover
          text-decoration none
