body#index

  header
    padding: 100px 40px 60px 40px
    background-color #191919
    color white
    // cursor url('/images/cursor-white.png'), pointer

    a
      font-size 12px
      font-family var(--secondary)
      text-transform uppercase
      font-weight bold
      letter-spacing 1px
      text-decoration underline
      display inline-block
      margin-left 5px

    h1
      font normal 38px/50px var(--primary)
      max-width 450px
      margin 20px 0
      &:last-of-type
        margin-top 100px

  section
    height 100vw
    position relative
    flex-basis 100%
    z-index 0
    @media $desktop
      height 450px
      flex-basis 50%
    @media $tablet
      height 450px
      flex-basis 50%

    a
      padding 25px
      Absolute(0)
      // cursor url('/images/cursor-black.png'), pointer
      @media $desktop
        padding 40px

    h1
      max-width 575px
      color #191919
      font 600 75px/75px var(--secondary)
      text-transform uppercase
      letter-spacing 2px
      margin 0
      word-break break-all
      @media $desktop
        font 600 85px/85px var(--secondary)

    img
      CenterXY()
      z-index -1
      max-width 350px
      width 75vw

    @media $tablet
      img
        z-index 1
        transform translate(-50%, -50%) scale(0.5)
        transition transform 0.5s ease, opacity 0.5s ease 0.3s

      &:hover img
        transform translate(-50%, -50%) scale(1)
        transition transform 0.5s ease, opacity 0.5s ease 0.1s

    &.voltra
      background-color #ed4224

    &.dtn
      background-color #E1AA55

    &.islandjoy
      background-color #C5BACC

    &.vintagetype
      background-color #28436b

    &.petalandleaf
      background-color #8b8d54

    &.tonic
      background-color #bbcfb0

    &.conductorlab
      background-color #dac863

    &.maison
      background-color #aa6488

  // footer
  //   background-color white
  //   border-top 2px solid black
  //   & > *
  //     padding 30px
  //     flex-basis 33.3333%
  //     &:first-of-type
  //       border-right 2px solid black
  //     &:last-of-type
  //       border-left 2px solid black
