include ../mixins/head
include ../mixins/script

+Head('Aprile Elcich')

body#index
  header
    .top-left 
    .top-center Aprile Elcich
    .top-right
      a(href="/info") Info
  
  main
    .slideshow
      .slide.slide-1.dark
        a.open(href="/voltra")
        .tooltip Voltra Co. &rarr;
        .caption Product Design
      
      .slide.slide-2.dark
        a.open(href="/dataterranemo")
        .tooltip Data Terra Nemo &rarr;
        .caption Branding, Web Design, Frontend
      
      .slide.slide-3.dark
        a.open(href="/islandjoy")
        .tooltip Island Joy &rarr;
        .caption Branding, Packaging, Web Design

      .slide.slide-4.dark
        a.open(href="/vintagetype")
        .tooltip Vintage Type &rarr;
        .caption Web Design, Frontend

      .slide.slide-5
        a.open(href="/petalandleaf")
        .tooltip Petal &amp; Leaf &rarr;
        .caption Branding, Packaging, Web Design

      .slide.slide-6
        a.open(href="/conductorlab")
        .tooltip ConductorLab &rarr;
        .caption Product Design, Frontend

      .slide.slide-7
        a.open(href="/voltra-vms")
        .tooltip Voltra Music Server &rarr;
        .caption Product Design, Web Design

      .slide.slide-8
        a.open(href="/tonic")
        .tooltip Tonic &rarr;
        .caption Product Design, Frontend

      .slide.slide-9
        a.open(href="/maisonapothecare")
        .tooltip Maison Apothecare &rarr;
        .caption Branding, Packaging Design
      
      .slide.slide-10.dark
        a.open(href="/wonder4grams")
        .tooltip Wonder 4 Grams &rarr;
        .caption Branding, Web Design

      //- 
      //- .slide.slide-11.dark
      //-   a.open(href="/voltra")
      //-   .tooltip View Project &rarr;
      //-   .caption Slide 3
      //- 
      //- .slide.slide-12
      //-   a.open(href="/voltra")
      //-   .tooltip View Project &rarr;
      //-   .caption Slide 3
        
      .controls
        .prev
        .next
  
  footer
    div
    .bottom-right
      div.slide-indicator

+Script()
