body#index
  &.loading
    header span
      transform translateY(0%)

  header > h1 div
    overflow hidden

    span
      display block
      transition transform 0.6s ease 0.2s
      transform translateY(100%)

  header
    color white
    padding 100px 40px 60px 40px
    background-color #191919

    .read-more, .read-less
      display inline-block
      margin-top 20px
      font bold 12px var(--secondary)
      text-transform uppercase
      text-decoration underline
      letter-spacing 1px
      display inline-block
    .read-more
      transition opacity 0.5s ease 0.3s

    h1
      max-width 450px
      font normal 38px/50px var(--primary)
      margin 20px 0
      &:last-of-type
        margin-top 100px

    h2
      font bold 12px var(--secondary)
      text-transform uppercase
      letter-spacing 1px
      margin-top 0

  .expanded
    margin-top -20px
    max-height 0
    overflow hidden
    opacity 0
    transition all 0.5s ease 0s

  input
    display none

  input#info:checked ~ .read-more
    opacity 0
    transition opacity 0s ease 0s

  input#info:checked ~ .expanded
    opacity 1
    max-height 1000px
    transition all 0.5s ease 0s

  .info
    color #fff
    .no-link
      color #aaa

    ul
      line-height 27px
      @media $mobile
        margin-bottom 40px

    a:hover
      font-style italic

  .contact
    margin-top 50px

    a:hover
      text-decoration underline

  section
    height 100vw
    position relative
    flex-basis 100%
    z-index 0
    @media $desktop
      height 450px
      flex-basis 50%
    @media $tablet
      height 450px
      flex-basis 50%

    a
      padding 25px
      Absolute(0)
      @media $desktop
        padding 40px

    h1
      color #191919
      max-width 575px
      font 600 75px/75px var(--secondary)
      text-transform uppercase
      letter-spacing 2px
      margin 0
      word-break break-all
      @media $desktop
        font 600 85px/85px var(--secondary)

    img
      width 75vw
      max-width 350px
      CenterXY()
      z-index -1

    @media $tablet
      img
        z-index 1
        transform translate(-50%, -50%) scale(0.5)
        transition transform 0.5s ease, opacity 0.5s ease 0.3s

      &:hover img
        transform translate(-50%, -50%) scale(1)
        transition transform 0.5s ease, opacity 0.5s ease 0.1s

  section
    &.voltra
      background-color #ed4224
    &.dtn
      background-color #E1AA55
    &.islandjoy
      background-color #C5BACC
    &.vintagetype
      background-color #28436b
    &.petalandleaf
      background-color #8b8d54
    &.tonic
      background-color #dac863
    &.conductorlab
      background-color #397ac8
    &.maison
      background-color #aa6488
