include ../mixins/head
//- include ../mixins/script

+Head('Aprile Elcich')

body#index
  header
    h1 Aprile Elcich is a 
      i digital product designer
      |  based in Amsterdam.
      
    a(href="/info") Read More
    
    h1 Selected Work &mdash;

  main.flex
    section.voltra
      a(href="/voltra")
        h1 Voltra
        img(src="/images/voltra_brand.png")

    section.dtn
      a(href="/dataterranemo")
        h1 Data Terra Nemo
        img(src="/images/dtn-0.jpg")

    section.islandjoy
      a(href="/islandjoy")
        h1 Island<br>Joy
        img(src="/images/islandjoy-10.png")
          
    section.vintagetype
      a(href="/vintagetype")
        h1 Vintage<br>Type
        img(src="/images/vintagetype-5.png")
          
    section.petalandleaf
      a(href="/petalandleaf")
        h1 Petal &amp;<br>Leaf
        img(src="/images/petalandleaf-4.png")
          
    section.tonic
      a(href="/tonic")
        h1 Tonic
        img(src="/images/tonic.png")

    section.conductorlab
      a(href="/conductorlab")
        h1 Conductor<br>Lab
        img(src="/images/thumb-clab.png")
          
    section.maison
      a(href="/maisonapothecare")
        h1 Maison<br>Apothecare
        img(src="/images/ma-1.png")
