body#index

  header
    color white
    padding 100px 40px 60px 40px
    background-color #191919

    a
      font bold 12px var(--secondary)
      text-transform uppercase
      text-decoration underline
      letter-spacing 1px
      margin-left 5px
      display inline-block

    h1
      max-width 450px
      font normal 38px/50px var(--primary)
      margin 20px 0
      &:last-of-type
        margin-top 100px

  section
    height 100vw
    position relative
    flex-basis 100%
    z-index 0
    @media $desktop
      height 450px
      flex-basis 50%
    @media $tablet
      height 450px
      flex-basis 50%

    a
      padding 25px
      Absolute(0)
      @media $desktop
        padding 40px

    h1
      color #191919
      max-width 575px
      font 600 75px/75px var(--secondary)
      text-transform uppercase
      letter-spacing 2px
      margin 0
      word-break break-all
      @media $desktop
        font 600 85px/85px var(--secondary)

    img
      width 75vw
      max-width 350px
      CenterXY()
      z-index -1

    @media $tablet
      img
        z-index 1
        transform translate(-50%, -50%) scale(0.5)
        transition transform 0.5s ease, opacity 0.5s ease 0.3s

      &:hover img
        transform translate(-50%, -50%) scale(1)
        transition transform 0.5s ease, opacity 0.5s ease 0.1s

  section
    &.voltra
      background-color #ed4224
    &.dtn
      background-color #E1AA55
    &.islandjoy
      background-color #C5BACC
    &.vintagetype
      background-color #28436b
    &.petalandleaf
      background-color #8b8d54
    &.tonic
      background-color #dac863
    &.conductorlab
      background-color #397ac8
    &.maison
      background-color #aa6488
