mixin Footer(prev, prevurl, next, nexturl)
  
  footer
    //- .bottom-left 
    //-   span &larr;&nbsp;&nbsp;
    //-   a(href= prevurl)
    //-     span= prev
    //- 
    //- .bottom-right
    //-   a(href= nexturl)
    //-     span= next
    //-   span &nbsp;&nbsp;&rarr;
