mixin Header(title)
  
  nav
    .top-left 
      a(href="/") A
        i e

    .top-center= title

    .top-right 
      a(href="/")
        .nav-icon
          svg
            use(xlink:href="/images/sprite.svg#close")
