mixin Head()
  head

    link(rel="stylesheet" href="/css/index.css" type="text/css")    
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet")

    title Aprile Elcich
