mixin Head(title)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/css/index.css" type="text/css")    
    link(href="https://fonts.googleapis.com/css?family=Baskervville:400,400i|Inria+Serif:700,700i&display=swap|Overpass+Mono|Overpass:300,600,700&display=swap" rel="stylesheet")

    title= title
