mixin Head(title)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/css/index.css" type="text/css")    
    link(href="https://fonts.googleapis.com/css?family=Baskervville:400,400i|Overpass+Mono|Overpass:300,600&display=swap" rel="stylesheet")

    title= title
