mixin Head(title)
  head

    link(rel="stylesheet" href="/css/index.css" type="text/css")    
    link(href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Roboto+Mono|Lexend+Deca&display=swap" rel="stylesheet")

    title= title
