include ../../mixins/head
include ../../mixins/footer

+Head()

body#voltra
  nav.header
    p Index
    p Info
  
  main
    header Voltra
    section One
    section Two
    section Three
    
    nav.footer
      .prev Previous Project
      .next Next Project
