body#voltra
  --accent var(--red)

  .dark
    background-color #1e1f22

  .intro
    &.left
      background-size contain
      background-repeat no-repeat
      background-color #1e1f22
      background-image url('/images/voltra_desktop-2.png')

    &.right
      background-color var(--red)

  .icon span
    font-family var(--secondary)

  section.copy
    p
      max-width 700px
      margin 0 auto
    &.lightgray
      background-color #f8f8f8

  section.image-box
    background-color var(--accent)
    padding 100px 50px
    @media $mobile
      padding 40px 0px
    &.dark
      background-color #1e1f22
    img
      width 80%
      margin 0 auto
      display block

  .font-grid
    Size(100%, 660px)
    position relative
    overflow hidden
    .font
      Size(100%, 220px)
      position relative
      top 0
      bottom 0
      background no-repeat center #1e1f22
      @media $desktop-large
        height 100%
        position absolute
        background-position left
        border-left 1px solid white
        transition transform 0.2s ease

    .font:nth-of-type(1)
      background-image url('/images/voltra_font-1.svg')
      border-bottom 1px solid white
      @media $desktop-large
        left 0
        z-index 1
        border-left 0
        border-bottom 0
        &:hover ~ .font:nth-of-type(2)
          transform translateX(50%)
        &:hover ~ .font:nth-of-type(3)
          transform translateX(75%)

    .font:nth-of-type(2)
      background-image url('/images/voltra_font-2.svg')
      border-bottom 1px solid white
      @media $desktop-large
        border-bottom 0
        transform translateX(25%)
        z-index 1
        &:hover ~ .font:nth-of-type(3)
          transform translateX(90%)

    .font:nth-of-type(3)
      background-image url('/images/voltra_font-3.svg')
      @media $desktop-large
        transform translateX(50%)
        z-index 1

    .caption
      color white
      position absolute
      bottom 30px
      left 30px

  .colour-grid > *
    height 30vw
    font 14px var(--mono)
    letter-spacing 1px
    flex-basis 50%
    padding 50px

    @media $mobile
      height 45vw
      font 11px var(--mono)
      padding 20px
    @media $desktop
      height 20vw
      padding 30px
      flex-basis 20%

    &.white
      background-color white
    &.lightgray
      background-color var(--lightgray)
    &.mediumgray
      background-color var(--mediumgray)
    &.darkgray
      color white
      background-color var(--darkgray)
    &.black
      color white
      background-color var(--black)
    &.gold
      background-color var(--gold)
    &.red
      background-color var(--red)
    &.purple
      background-color var(--purple)
    &.blue
      background-color var(--blue)
    &.green
      background-color var(--green)
