include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Voltra')

body#voltra
  +Header('Voltra')
  
  main
    .intro-wrapper
      .intro.left
      .intro.right
        h1 Voltra<br>Co
        .caption &mdash; Product Design, Branding, UI/UX
          br 
          | &mdash; Frontend, Prototyping
    
    section.copy
      blockquote A cross-platform hi-definition music player designed
        |  for musicians &amp; music collectors.
      hr
      p Intuitive and lightweight, we focused on simplicity in the design
        |  and user experience. To build the best possible product, we
        |  performed extensive manual and automated testing, working in
        |  tandem with feedback and direct interaction with 5K+ users.
    
    section.image-box.dark.cursor-light
      img(src="/images/voltra_logo.png")
    
    .copy
      .caption a. The primary
        i  Voltra
        |  wordmark
    
    section.copy
      h1 Visual Interface Design
      h2 Branding
      p The 
        i Voltra
        |  brand was designed to be modern and elegant with a nod to analog,
        |  instantly familiar and recognizable in name and imagery. An instant
        |  classic. Consisting of a number of different projects and applications,
        |  a range of complimentary marks were needed in the same visual style,
        |  without competing for attention.
      hr

      .flex
        .flex-50
          h2 App Icon
          p The App Icon went through a number of iterations, the final icon
            |  we arrived at took the analog style of the 
            i Voltra
            |  wordmark and icon (the 
            i volt
            | ) and brought them together to create the
            i  Voltra Monogram.
        .flex-50
          img(src="/images/voltra-appicon.png")

    section.flex.colour-grid  
      .white
        ul
          li White
          li &mdash;
          li R255 G255 B255
          li C0 M0 Y0 K0
          li #FFFFFF
      .lightgray
        ul
          li Light Gray
          li &mdash;
          li R423 G244 B244
          li C4 M2 Y2 K0
          li #F3F4F4
      .mediumgray
        ul
          li Medium Gray
          li &mdash;
          li R159 G171 B179
          li C39 M26 Y23 K0
          li #9FABB3
      .darkgray
        ul
          li Dark Gray
          li &mdash;
          li R40 G44 B45
          li C73 M64 Y62 K64
          li #282C2D
      .black
        ul
          li Black
          li &mdash;
          li R0 G0 B0
          li C75 M68 Y67 K90
          li #000000
      .gold
        ul
          li Gold
          li &mdash;
          li R172 G150 B93
          li C33 M35 Y76 K4
          li #AC965D
      .red
        ul
          li Red
          li &mdash;
          li R234 G67 B46
          li C1 M89 Y100 K0
          li #EA432E
      .purple
        ul
          li Purple
          li &mdash;
          li R126 G79 B155
          li C59 M83 Y1 K0
          li #7E4F9B
      .blue
        ul
          li Blue
          li &mdash;
          li R67 G122 B86
          li C77 M49 Y0 K0
          li #437ABA
      .green
        ul
          li Green
          li &mdash;
          li R62 G148 B73
          li C79 M18 Y0 K4
          li #3E9449
    
    section.copy
      h2 Colour
      p The primary monochromatic shades are used for the main application
        |  styles, and the secondary colours are optional accent colours.
        |  Only one accent colour is used at a time, as a complement to the
        |  minimalist tones of the primary scheme.
      hr
      h2 UI Icons
      p For the best consistency throughout the applications and websites,
        |  I designed an extensive iconset and a SVG sprite system in order
        |  to conveniently utilise them.
    
    section
      .iconset
        .icon
          span Pause
          svg
            use(xlink:href="/images/sprite.svg#pause")
        .icon
          span Play
          svg
            use(xlink:href="/images/sprite.svg#play")
        .icon
          span Back
          svg
            use(xlink:href="/images/sprite.svg#skip-previous")
        .icon
          span Forward
          svg
            use(xlink:href="/images/sprite.svg#skip-next")
        .icon
          span Play
          svg
            use(xlink:href="/images/sprite.svg#play-control")
        .icon
          span Pause
          svg
            use(xlink:href="/images/sprite.svg#pause-control")
        .icon
          span Close
          svg
            use(xlink:href="/images/sprite.svg#close")
        .icon
          span Arrow
          svg
            use(xlink:href="/images/sprite.svg#close-arrow")
        .icon
          span Toggle Mode
          svg
            use(xlink:href="/images/sprite.svg#mode-toggle")
        .icon
          span Search
          svg
            use(xlink:href="/images/sprite.svg#search")
        .icon
          span Albums
          svg
            use(xlink:href="/images/sprite.svg#albums")
        .icon
          span Artists
          svg
            use(xlink:href="/images/sprite.svg#artists")
        .icon
          span Tracks
          svg
            use(xlink:href="/images/sprite.svg#tracks")  
        .icon
          span Playlists
          svg
            use(xlink:href="/images/sprite.svg#playlists")
        .icon
          span Genres
          svg
            use(xlink:href="/images/sprite.svg#genres")
        .icon
          span Shop
          svg
            use(xlink:href="/images/sprite.svg#shop")
        .icon
          span Equalizer
          svg
            use(xlink:href="/images/sprite.svg#equalizer")
        .icon
          span Settings
          svg
            use(xlink:href="/images/sprite.svg#settings")
        .icon
          span History
          svg
            use(xlink:href="/images/sprite.svg#history")
        .icon
          span Mute
          svg
            use(xlink:href="/images/sprite.svg#mute")
        .icon
          span Volume
          svg
            use(xlink:href="/images/sprite.svg#volume")
        .icon
          span Edit
          svg
            use(xlink:href="/images/sprite.svg#edit")
        .icon
          span Download
          svg
            use(xlink:href="/images/sprite.svg#download")
        .icon
          span Image
          svg
            use(xlink:href="/images/sprite.svg#camera")
        .icon
          span Secure
          svg
            use(xlink:href="/images/sprite.svg#security")
        .icon
          span Offline
          svg
            use(xlink:href="/images/sprite.svg#offline")
    
    section.copy
      p All icons were added to a single svg sprite as symbols, to be accessed with html.
    
      h4 Example (svg)
      .code
        span.line &lt;symbol 
          span.c1 id
          span &equals;
          span.c2 &ldquo;close&rdquo;
          span.c1 &nbsp;
          span.c1 viewBox
          span &equals;
          span.c2 &ldquo;0 0 150 150&rdquo;
          span &gt;
        span.line &nbsp;&nbsp;&lt;path 
          span.c1 fill
          span &equals;
          span.c2 &ldquo;currentColor&rdquo; 
          span.c1 d
          span &equals;
          span.c2 &ldquo;${path}&rdquo;
          span &sol;&gt;
        span.line &lt;&sol;symbol&gt;
    
      h4 Sprite usage (html)
      .code
        span.line &lt;svg&gt;
        span.line &nbsp;&nbsp;&lt;use&nbsp;
          span.c1 xlink:href
          span &equals;
          span.c2 &ldquo;/images/sprite.svg#close&rdquo;
          span &gt;&lt;&sol;use&gt;
        span.line &lt;&sol;svg&gt;
    
      hr
      h2 Typography
      p The chosen font had to be visually consistent across platforms, which
        |  meant it must be similar enough to different system specific fonts (i.e. 
        i  Windows, Mac, iOS
        | ). The 
        i  Avenir
        |  family worked well for this purpose.
      
      hr.spacer

      .flex
        .flex-50
        .flex-50
          img(src="/images/voltra_avenir.jpg" width="100%")
          .caption a. Local inspiration
    
    .font-grid
      .font
        .caption Avenir Light
      .font
        .caption Avenir Regular
      .font
        .caption Avenir Bold

    section.image-box
      img(src="/images/voltra.png")

    .copy
      .caption b. The
        i  Voltra Desktop Player
        |  &mdash; Queue
        
    section.copy
      h1 Voltra Desktop Player
      h2 Problem
      blockquote
        i Design an intuitive, lightweight multi-platform desktop player for
          |  avid music collectors.
      hr
      h2 Technical Challenges
      ul.bulleted
        li Effective across multiple platforms (Mac, Windows, Linux)
        li Able to handle a huge variance in file types and sizes
        li Sync files and metadata across multiple platforms and devices
        li UI performance, displaying thousands of list items and images
      
    section.image-box.dark
      img(src="/images/voltra_desktop.png")
    
    .copy
      .caption c. Track and Album views

    section.copy
      h2 Design Challenges
      ul.bulleted
        li Consistent UI patterns and interactions that also meet platform expectations
        li Balancing minimalism and user adoption / understanding
        li Testing and improving performance for a CSS heavy interface
        li Determining appropriate user design feedback and implementation
      hr
      h1 Interaction Design
      h2 Desktop Player Modes
      p The
        i Voltra Desktop Player
        |  includes two additional player modes, mini and micro. 
        |  Each pares down the full design to its essential parts giving the user
        |  a distraction-free listening experience. The design of the player modes
        |  also follows consistent design patterns with the
        i  Voltra Mobile Player.
    

    section.image-box.dark
      img(src="/images/voltra_desktop-6.png")
    
    .copy
      .caption c. Player modes from left: Micro, Mini, Normal.

    section.copy
      h1 Voltra Mobile Player
      p The
        i  Voltra Mobile Player
        |  was an important next step in building the complete product. With the
        i  Voltra Audio Archive
        |  service (cloud storage locker for music), users can upload their music through the
        i  Voltra Desktop App
        |  and access it through the mobile player.

    .flex.center
      .flex-75
        img(src="/images/voltra_ios-2.png" width="100%")
    
    section.copy

      h2 Challenges
      ul.bulleted
        li Cross platform consistency (Android and iOS)
        li Challenging expected platform conventions as much as possible
        li Bridging the UI expectations across both platforms
        li Translating the web player to a new platform
        li Balance between expected, unconventional and intuitive interactions
    
    img(src="/images/voltra_ios-1.gif" width="100%")
    
    img(src="/images/voltra_ios-dark.png" width="100%")
    
    section.copy
      p The result, after rigorous user testing, was an app that felt intuitive
        |  and familiar. It utilized common gestures in the navigation, ensuring
        |  the user’s interaction matches their expectation.
    
    img(src="/images/voltra_ios-3.jpg")
    
    //- hr
    section.copy
      h2 Process
      p The process of building the
        i Voltra Mobile App
        |  began with research of other
        |  music apps, which we compared with the existing design of the desktop application.
      br
      br
      p Then, we iterated on the design through wireframes and coding prototypes
        |  to test and solidify the gestures.
        |  Released as a beta with many willing testers, the design was polished
        |  alongside confirming the user’s expecatations and making adjustments from feedback.

    .flex.center
      .flex-75
        img(src="/images/voltra-wireframes-2.png" width="100%")

    section.copy
      hr
      h1 Web Design
      p Throughout the lifespan of 
        i  Voltra
        | , the website also went through many iterations.
        |  Our approach to design was to keep it simple to highlight the simplicity
        |  of the products, communicate information clearly, and encourage downloads
        |  of our free software (and upgrade to our music syncing service).

    section.image-box.dark
      img(src="/images/voltra-website.png" width="100%")

    section.copy
      h2 Web Interface Design
      p The user interface elements for the website were designed to follow the 
        |  analog style of the brand, while also being simple, clean, modern, and stylish.

    img(src="/images/voltra_webinterface.png")

    section.copy
      img(src="/images/vaa-1_1.jpg")
      hr.spacer
      h1 Voltra Music Server
      p The
        i  Voltra Music Server (VMS) 
        | evolved out of user requests to include a physical music
        |  server instead of one that relies on the cloud like the 
        i  Voltra Audio Archive
        |  service. 
      br
      p The
        i  Voltra Audio Archive
        |  used a Dropbox-style replication protocol that we designed
        |  in order to keep music files in sync and up to date, and the
        i  VMS
        |  used this protocol to sync with as an alternative to the cloud.
      br
      p We designed this physical product as well as developed
        |  the software for simple setup, backups, automatic updates, and
        |  syncing across multiple devices and computers.
      hr.spacer

    img(src="/images/voltra_vms-5.png")
    img(src="/images/voltra_vms-3.png")
    img(src="/images/voltra_vms-1.png")
      
    section.copy
      img(src="/images/voltra_brand.png" width="100%") 
      .caption a. Voltra guitar picks
    

    section.page-footer
      .wrapper
        a(href="/").prev-project.index
          .bullet
          p Index
        a(href="/dataterranemo").next-project.dtn
          .bullet
          p Data Terra<br>Nemo
    
  +Footer('Index', '/', 'Data Terra Nemo', '/dataterranemo')
