body#tonic
  --accent #ee6757

  .swatchset
    .swatch
      flex-basis 25%

      &.lightgray span
        background-color #f7f7f5
      &.medgray span
        background-color #999da0
      &.darkgray span
        background-color #36393d
      &.black span
        background-color #000000
      &.white span
        border 1px solid var(--border)
      &.red span
        background-color var(--accent)
      &.orange span
        background-color #f7a96d
      &.green span
        background-color #86b176
