include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Tonic')

body#tonic
  +Header('Tonic')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Tonic
        .caption 
          | &mdash; Product Design
          br
          | &mdash; Web Design &amp; Development
    
    section.copy
      blockquote Tonic is a minimalist, stable component framework. It is about
        |  250 lines of code in total, and favours React-like component composition. 
      hr
      p Using my previous experience in designing application interfaces, my role
        |  in this project was designing and building out the default UI components
        |  and themes in the 
        i  Tonic
        |  framework for use in future projects.

      .view-site
        a(href="https://tonic.technology/" rel="noopener" target="_blank") https://tonic.technology

    
    img(src="/images/tonic-1.png")
      
    section.copy
      h1 Visual Interface Design
      h2 Logo
      p tbd
        
      h2 Typography
      p tbd
      
    section.copy
      h2 Colour
      p tbd
      
    section.flex.colour-grid    
      .lightgray
        ul
          li Light Gray
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .medgray
        ul
          li Medium Gray
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.darkgray
        ul
          li Dark Gray
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.black
        ul
          li Black
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.white
        ul
          li White
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.red
        ul
          li Red
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.orange
        ul
          li Orange
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
      .swatch.green
        ul
          li Green
          li &mdash;
          li R43 G21 B5
          li C97 M0 Y24 K18
          li #EAEAEA
    
    img(src="/images/tonic.png")
    
    section.copy
      h2 Elements
      p The default form elements for Tonic components. Each element can be 
        |  customized (fonts, colours, etc) and I wanted to create a solid
        |  base that is well-designed and commincative but also a good canvas
        |  for user customization.
      p All components were also designed and developed to include keyboard support.
    
    .flex.center
      .flex-75
        img(src="/images/tonic-elements-1.png")
        img(src="/images/tonic-elements-2.png")

    hr

    .flex.center
      .flex-75
        img(src="/images/tonic-3.png")
    
    section.copy
      h1 Web Design
      p The website was designed to clearly communicate and document the 
        i  Tonic
        |  framework. I contributed to the entire project,
        |  including automated testing and writing documentation.
      
    section.copy
      .credits.flex
        ul.flex-50
          li Core Library:
          li P. Fragomeni
        ul.flex-50
          li Component Library:
          li P. Fragomeni, Aprile Elcich
        ul.flex-50
          li Website Design &amp; Dev:
          li Aprile Elcich
    
    section.page-footer
      .wrapper
        a(href="/vintagetype").prev-project.vintagetype
          .bullet
          p Vintage<br>Type
        a(href="/conductorlab").next-project.conductorlab
          .bullet
          p Conductor Lab
    
  +Footer('Petal and Leaf', '/petalandleaf', 'Conductor Lab', '/conductorlab')
