include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Tonic')

body#tonic
  +Header('Tonic')
  
  main
    section.grid-min
      .intro
        p Tonic is a minimalist, stable component framework. It is about 250 lines of code in total, and favours React-like component composition.

    section.grid-max
      img(src="/images/tonic.png")
    
    section.grid-min
      p Using my previous experience in designing application interfaces, my role in this project was designing and building out the default UI components and themes in the Tonic framework for use in future projects.
      
      h2 Typography
      p Lorem ipsum...

      h2 Colour
      p Lorem ipsum...
    
    section.grid-med
      .swatchset
        .swatch.lightgray
          span
        .swatch.medgray
          span
        .swatch.darkgray
          span
        .swatch.black
          span
        .swatch.white
          span
        .swatch.red
          span
        .swatch.orange
          span
        .swatch.green
          span
    
    section.grid-min
      h2 Form Elements
      p The default form elements for Tonic components. Each element can be customized (fonts, colours, etc) and I wanted to create a solid base that is well-designed and commincative but also a good canvas for user customization.
      
      h2 UI Elements
      p Useful default Tonic components.
      p All components were also designed and developed to include keyboard support.

    hr

    
  +Footer('Voltra Music Server', '/vms', 'Maison Apothecare', '/maisonapothecare')
