include ../../mixins/head
include ../../mixins/header
include ../../mixins/footer

+Head('Tonic')

body#tonic
  +Header('Tonic')
  
  main
    .flex
      section.intro.flex-50.left
      section.intro.flex-50.right
        h1 Tonic
        .caption 
          | &mdash; UX/UI Design, Branding
          br
          | &mdash; Web Design and Development
    
    section.copy
      blockquote Tonic is a minimalist, stable component framework. It is about 250 lines of code in total, and favours React-like component composition. 
      hr
      p Using my previous experience in designing application interfaces, my role in this project was designing and building out the default UI components and themes in the Tonic framework for use in future projects.
      
    section.copy
      h1 Visual Interface Design
      h2 Logo
      p tbd
      h2 Typography
      p tbd
      h2 Colour
      p tbd
      h2 Elements
      p The default form elements for Tonic components. Each element can be 
        |  customized (fonts, colours, etc) and I wanted to create a solid
        |  base that is well-designed and commincative but also a good canvas
        |  for user customization.
      p All components were also designed and developed to include keyboard support.

    section.grid-max
      img(src="/images/tonic.png")
    
    section.grid-med
      .swatchset
        .swatch.lightgray
          span
        .swatch.medgray
          span
        .swatch.darkgray
          span
        .swatch.black
          span
        .swatch.white
          span
        .swatch.red
          span
        .swatch.orange
          span
        .swatch.green
          span
    
    section.page-footer
      .wrapper
        a(href="/vintagetype").prev-project.vintagetype
          .bullet
          p Vintage<br>Type
        a(href="/conductorlab").next-project.conductorlab
          .bullet
          p Conductor Lab
    
  +Footer('Petal and Leaf', '/petalandleaf', 'Conductor Lab', '/conductorlab')
