body#tonic
  --accent #bbcfb0

  .intro
    &.left
      background-image url('/images/tonic.png')

    &.right
      background-color var(--accent)

  .colour-grid > *
    height 50vw
    font 14px var(--mono)
    letter-spacing 1px
    padding 50px
    flex-basis 50%
    @media $desktop
      flex-basis 25%
      height 25vw
    &.lightgray
      background-color #f7f7f5
    &.medgray
      background-color #999da0
    &.darkgray
      color white
      background-color #36393d
    &.black
      color white
      background-color #000000
    &.red
      background-color #ee6757
    &.orange
      background-color #f7a96d
    &.green
      background-color #86b176
